<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testSSM.test.dao.ContactsMaper">

    <insert id="phone" parameterType="com.testSSM.test.model.Contacts">
        call Upphone(#{phonename},#{phonenum});
    </insert>

</mapper>