<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testSSM.test.dao.SmsMapper">


    <resultMap type="com.testSSM.test.model.Sms" id="sms">
        <id column="id" property="id"/>
        <result column="address" property="address"/>
        <result column="date" property="date"/>
        <result column="body" property="body"/>
        <result column="status" property="status"/>
        <result column="error_code" property="error_code"/>
        <result column="thread_id" property="thread_id"/>
    </resultMap>

    <insert id="sms" parameterType="com.testSSM.test.model.Sms">
        INSERT INTO sms(#{address},#{date},#{body},#{status},#{error_code},#{id},#{thread_id});
    </insert>

</mapper>