<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testSSM.test.dao.SmsMaper">
    <resultMap type="com.testSSM.test.model.Sms" id="Sms">
        <id column="smsid" property="smsid"/>
        <result column="phonenum" property="phonenum"/>
        <result column="sms" property="sms"/>
        <result column="smsdate" property="smsdate"/>
        <result column="sms_id" property="sms_id"/>

    </resultMap>
    <insert id="Sms" parameterType="com.testSSM.test.model.Sms">
        call Upsms(#{phonenum},#{sms},#{sms_id},#{smsdate},#{sms_huihua})
    </insert>

</mapper>